/*Aplique el tipo de letra*/
@import url('https://fonts.googleapis.com/css2? family= Righteous & family= Work+Sans:ital,wght@0,100;0,300;0,400;0,600;0,800;1,200 & display=swap' );

*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    /*me permite deslizar cuando clic en los link del menu */
    scroll-behavior: smooth;
}
/* MENU */
.contenedor-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #1CB698;
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #1cb698;
}
.nav-responsive{
    background-color: #1cb698;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/*LIQUIDACIÓN DE SUELDOS*/
nav ul li a {
    text-align: center;
    display: block;
    white-space: normal; /*Permite saltos de linea*/
}

/*Aplica solo si el texto contiene exactamente "Liquidación de Sueldos"*/
nav ul li a:contains("Liquidación de Sueldos") {
    white-space: pre-line;
}

/* SECCION RESPONSIVE */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        border-radius: 10px;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #1CB698;
        padding: 10px 0;
    }
}

.container {
    margin-top: 7%;
    text-align: center;
}


body {
  padding-top: 80px;
}

/**/
.pagination-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/*Estilo para 1 - administration.hmtl*/
.content {
    display:flex;
    align-items: stretch; 
    gap: 20px;
    max-width: 900px;
    margin: 0 200px ; /*Quitás el centrado*/
    justify-content: flex-start; /*Alinea todo a la izquierda*/
}

.content img {
  width: 100px;
  height: auto;
  margin-right: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

img.zoomed {
  transform: scale(2); /* Duplicar tamaño */
  z-index: 1000;
  position: relative;
}

